.heroBg {
  position: relative;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  background: #FFFFFF;
  overflow-x: hidden;
}

.bgMain {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  background: url('../../assets/bg-main.png.png') no-repeat center/cover;
  mix-blend-mode: normal;
  z-index: 1;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  background: url('../../assets/overlay.png.png') no-repeat center/cover;
  mix-blend-mode: luminosity;
  z-index: 2;
  height: 100%;
}

.gradient {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(180.51deg, #00ABE5 -13.91%, #9FE7FF 65.75%, #00ABE5 164.66%);
  mix-blend-mode: overlay;
  z-index: 3;
  height: 100%;
}

.ellipse {
  position: absolute;
  width: 128vw;
  height: 60vh;
  left: -14vw;
  top: -30vh;
  background: radial-gradient(50% 50% at 50% 50%, #26A8DF 0%, rgba(38, 168, 223, 0.51) 38%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: plus-darker;
  opacity: 0.6;
  z-index: 4;
}

.mainContent {
  position: relative;
  z-index: 10;
  width: 100%;
  min-height: 100vh;
}